
<app-player 
(click)="editPlayer(i)"
*ngFor="let player of game.players; let i = index;" 
[ngStyle]="{'top.px': 20 + (i * 70)}" 
[playerActive]="i == game.currentPlayer"
[image]="game.player_images[i]"
[name]="player"
class="player-position hide-mobile">
</app-player>

    <div class="scroll-container hide-desktop">
<app-player-mobile (click)="editPlayer(i)"
*ngFor="let player of game.players; let i = index;" 

[playerActive]="i == game.currentPlayer"
[name]="player"
[image]="game.player_images[i]"
>
</app-player-mobile>
</div>
<div class="game_field">

    <div class="card-stack">
        <!-- Card Stack-->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0, 1, 2, 3]; let i = index;" src="/assets/img/cards_old/card_cover.png">
        <img  (click)="takeCard()" class="top-card" style="right: 25px" src="/assets/img/cards_old/card_cover.png">
        <!-- Stack for played Cards-->
        <img *ngFor="let card of game.playedCards" class="played-card" src="/assets/img/cards_old/{{ card }}.png">
        <!-- Current Card Animation -->
        <img  (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px" src="/assets/img/cards_old/{{ game.currentCard }}.png">
    </div>

</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" class="btn-add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <div class="end-screen" *ngIf="endGame">
    <h1>ATTENTION! GAME OVER!</h1>
    <p>Remember to please drink responsibly and to take care of yourself.<br>
        If you want to continue, click on the button below to get back to the Main Menu and to start a new Game!

    </p>
        <button (click)="restartGame()">Back to Main Menu</button>
    
    
</div>
