mat-card{
    @media (max-width: 720px){
        min-height: 120px;
      }
}

.card-title{
    padding: 0px 16px;
}

@media screen and (max-width: 450px){
    .respons-card{
        max-height: 200px;
        
    }
}